<div class="jumbotron bg-primary p-3 my-3">
    <h1 class="text-light">Ponto de Venda - PDV</h1>
    <div class="flex-container">
        <div>
          <a href="{{URL}}/produtos"><button class="btn btn-light">Produtos</button></a>
          <a href="{{URL}}/tipoProduto"><button class="btn btn-light">Tipo Produto</button></a>
          <a href="{{URL}}/vendas"><button class="btn btn-light">Vendas</button></a>

        </div>
      </div>
</div>
  <style>
    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>